.title {
  color: var(--color-principal);
  font-family: var(--font-primary);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.title2 {
  color: var(--color-principal);
  font-family: var(--font-primary);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5px;
}

#container-master {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-admin {
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 40px;
}
#nav-admin #conte-profile{
  position: absolute;
  width: 200px;
  right: 0px;

}


#nav-admin #container-option-main-user{
    display: block;
    visibility:visible;
}

#nav-admin #container-option-main-user a{
    position:relative;
    text-decoration:none;
    font-family: var(--font-primary);
}

#nav-admin #container-option-main-user:hover a{
    background-color:var(--color-principal)
}

#nav-admin #container-option-main-user:hover a{
  color: white;
}

#nav-admin #conte-text {
    display: flex;
    height: 60px;
    align-items: center;
}

/* MENU LATERAL */
#container-main-l {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 10%;
}
#container-logo {
    margin-top: 20px;
    display: block;
    width: 80%;
}

#container-logo img {
    display: block;
    width: 100%;
}

#container-options {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
}
.c-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: var(--color-secundario);
  border-radius: 0.5rem;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}

.c-option:hover {
  background-color: var(--color-principal);
}
.c-text {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
}
.c-text .text-title {
  font-family: var(--font-secondary);
  color: var(--color-secundario2);
  font-size: 1.0rem;
}
.c-icon {
  display: block;
  width: 30%;
  height: 60%;
}
.c-icon .icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: white;
}
#conte-btn-admin {
    display: flex;
    align-items: center;
    height: 60px;
}

#conte-btn-admin {
    display: flex;
    align-items: center;
    height: 60px;
  }
  #conte-btn-admin .icon {
    fill: var(--color-primary);
    width: 60%;
    height: 60%;
    cursor: pointer;
  }
  
  #conte-btn-admin .icon:hover {
    fill: var(--color-resalte);
  }
#container-home {
display: flex;
align-items: center;
width: 90%;
height: calc(100vh - 60px);
}

#container-home #conte {
display: block;
width: 100%;
height: 90%;
padding: 20px 50px 20px 50px;
background-color: #f1f5ff;
border-radius: 0.9em;
overflow: auto;
}



/* DATA */

#container-data {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    background-color: white;
    border-radius: 0.9rem;
}

#tbl-medical{
    display: none;
    visibility: hidden;
}
#tbl-car{
    display: none;
    visibility: hidden;
}

#tbl-life{
  display: none;
  visibility: hidden;
}
#tbl-house{
  display: none;
  visibility: hidden;
}
.tbl {
  width: 90%;
  margin: 20px auto;
}
#titles-tbl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: var(--color-secundario2);
  border-radius: 0.5rem;
  height: 30px;
  padding: 5px;
}

.title-tbl {
  color: var(--color-principal);
  font-family: var(--font-primary);
  font-size: 1.0rem;
  height: 25px;
}

.body-tbl {
  overflow: auto;
  scrollbar-width: 5px;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-secundario);
}

.cell {
  height: 20px;
  font-family: var(--font-secondary);
  color: #8b8b8b;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.cell-action {
  text-align: left;
  cursor: pointer;
}
.icon-view {
  fill: #970505;
  width: 40px;
  height: 25px;
}
.icon-view {
  fill: #8b8b8b;
}

.cell-action:hover .icon-view {
  fill: var(--color-principal);
}

#container-btn-download{
  position: relative;
  bottom:  0px;
  right: 0px;
}