

@media screen and (max-width: 1116px){
    #nav-bar{
        width: 80%;    
    }

    #container-options-services{
        width: 50%;
    }

    #container-presentation{
        width: 80%;
    }

    #container-contact-about-me{
        width: 80%; 
    }

    #container-footer{
        width: 80%;
    }




} 

@media screen and (max-width: 762px){

    #container-options-services{
        width: 80%;
    }

    #container-presentation{
        width: 80%;
    }

    #container-contact-about-me{
        width: 80%; 
    }

    .method{
        height: 100px;
        width: 120px;
        background-color: var(--color-secundario2);
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
    }

    .icon-method{
        display: block;
        fill:  var(--color-secundario);
        width: 80%;
        height: 50%;
        margin: 0px auto;
    
    }

    .description-method{
        text-align: left;
        margin-top: 10px;
        font-size: .8rem;
        color: var(--color-secundario);
    }
    
    #footer p{
        font-size: 0.8rem;
    }

    #container-footer{
        width: 90%;
    }


    .title-social-networks{
    font-size: 0.8rem;

    }

    #container-copyright p{
        font-size: .8rem;
    }
    #container-copyright .link{
        font-size: .8rem;

    }

    #container-copyright .important{
        font-size: .8rem;
    }
} 


@media screen and (max-width: 600px){
    #header{
        height: 200px;
    }

    #nav{
        display: none;
        visibility: hidden;
    }

    #section-home{
        display: block;
        width: 100%;
    }


    #container-options-services{
        width: 95%;
    }
    

    .conte-icon{
        height: 30%;
    }

    .icon-primary{
        width: 40px;
        height: 40px;
    }

    .icon-secondary{
        width: 20px;
        height: 20px;
    }

    .title-service p{
        font-size: .7rem;
    }


    .title-section{
        font-size: 1.0rem;
    }
    .subtitle{
        color: var(--color-texto);
        font-size: 0.8rem;
    }


    #container-presentation{
        width: 100%;

    }
    #container-description{
        flex-direction: column;
        align-items: center;
    }
    #container-photo{
        width: 30%;
        height: 220px;
    }

    #photo{
        width: 100%;
        height: 220px;
    }

    .circle-line{
        display: none;
        visibility: hidden;
    }

    /* Seccion de contacto y sobre nosotros */
    #container-contact-about-me{
        width: 100%;
        padding: 20px;
        padding: 0px;
    }   


    #container-contact{
        text-align: center;
    }

    #container-methods-contact{
        align-items: flex-start;
        width:80%;
    }

    .method{
        height: 60px;
        width: 80px;
    }

    .description-method{
        font-size: .5rem;
    }
    /* Sobre nosotros */
    #container-about-me{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #container-about-me-description{
        display: block;
        width: 80%;
        margin-bottom: 20px;
    
    }
    #container-value-proposal-description{
        display: block;
        width: 80%;
    }

    .text-description{
        text-align: justify;
        font-size: .8rem;
    }

    #footer p {
        font-size: .5rem;
    }

    #container-copyright p {
        font-size: .5rem;
    }

    #container-copyright a {
        font-size: .5rem;
    }

    /* FORMS */
    #conte-view-form{
        padding: 0px;
        left: 2%;
        right: 2%;
    }
    .conte-btn-cerrar{
        z-index: 2;

    }
    .conte-btn-cerrar .btn-cerrar p {
        color: var(--color-secundario2);
    }

    .container{
        flex-direction: column;
        justify-content: space-around;
    }

    .form .item{
        width: 100%;
        height: 80%;
    }

    .form .item:first-child{
        height: 20%;
    }

    .title-form{
        margin-top: 10px;
        font-size: 1.0rem;
    }
    .container-photo-form{
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
        border-bottom-left-radius: 0em;
    }
    .container-photo-form img {
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
        border-bottom-left-radius: 0em;

    }

    .container-forms{
        padding-bottom: 100px;
    }
    .container-fields{
        justify-content: center;
        padding-top: 20px;
    }



}