@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face{
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}




:root{
    --color-principal:#04629A;
    --color-secundario:#83CDF9;
    --color-secundario2:#ffffff;
    --color-secundario3:#F4F7F9;
    --color-sombra-cards: #70707056;
    --color-contenedor:#F4F7F9;
    --color-texto: #585858;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
    
}
body{
    background-color: var(--color-secundario2);
}
/* navagation bar */

#header{
    display: flex;
    position: relative;
    align-items: center;
    height: 400px;
    width: 100%;
}
#header img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 40%;
    
}
#nav-bar{
    display: block;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 40px;
}

#nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 50%;
    height: 100%;
    margin: 0px auto;
    background-color: var(--color-secundario2);
    box-shadow:0px 10px 20px 0px #1111115d ;  
}


.option-nav{
    display: inline-block;
    width: 30%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-right: .2em solid var(--color-principal) ;
    border-bottom: .2em solid #04639a00 ;
    cursor: pointer;
}

.option-nav:hover{
    background-color: #aad8ee;
    transition: all 0.5s ease-out;;
}
.option-nav a{
    display: inline-block;
    color: var(--color-principal);
    text-decoration: none;
    font-size: 1.2rem;
}



/*  SECTIONS */
.title-section{
    font-size: 1.8rem;
    color: var(--color-principal);
    font-family: 'Poppins-Bold';

}
.subtitle{
    color: var(--color-texto);
    font-size: 1.0rem;
}

section{
    display: block;
    width: 100%;
    /*  background-color: #228ECE;*/
}

/* OPciones de Servicios */
#container-options-services{
    display: flex;
    align-items: center;
    position: relative;
    top: -60px;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    height: 120px;
    background-color: var(--color-secundario2);
    box-shadow:0px 0px 10px 0px var(--color-sombra-cards) ; 
    margin: 0px auto;
}

.option-service{ 
    display: block;
    width: 32%;
    height: 80%;
    border-right: .2em solid var(--color-principal) ;
    cursor: pointer;
}
.conte-icon{
    display: flex;
    position: relative;
    align-items: center;
    height: 40%;
    width: 100%;
}
.icon-primary{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0px auto;
    fill: var(--color-secundario);
}

.icon-secondary{
    display: block;
    position: absolute;
    left: 41%;
    width: 30px;
    height: 30px;
    margin: 0px auto;
    fill: var(--color-principal);
}

.title-service{
    display: block;
    height: 40%;
    width: 100%;
}

.title-service p{
    text-align: center;
    color: var(--color-principal);
    font-size: .9rem;
}

.last-item{
    border-right: none;
}


/* Seccion de presentacion */
.title-presentation{
    text-align: center;
}

.subtitle-presentation{
    text-align: center;
}
#container-presentation{
    
    width: 50%;
    margin: 100px auto;
}


#container-description{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#container-photo{
    display: block;
    width: 250px;
    height: 400px;
    padding: 20px;
    background-color: var(--color-secundario3);
}

#photo{
    display: block;
    width: 250px;
    height: 400px;
    position: relative;
    background-color: white;
    /* box-shadow:0px 0px 20px 0px var(--color-sombra-cards) ;   */
}

#photo img{
    width: 100%;
    height: 100%;
}

#data{
    display: block;
    margin-top: 50px;
    margin-left: 50px;
}


#container-line-separator{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
}

.circle-line{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--color-principal);
}

.line-separator-h{
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-principal);
}




/* Seccion de contacto y sobre nosotros */


#section-contact-about-me{
    background-color: var(--color-secundario2);
}