{% extends "base.html" %}
{% block title %} Menu Principal{% endblock %}
{% block content%}
<div id="container-home">
    <div id="conte">
        <div id="container-data">
            <p id="text-tbl-no-data" class="title">Seleccione una opcion en el menu Lateral<br> ...</p>
            <div id="tbl-medical" class="tbl">
                <div id="titles-tbl">
                    <div class="title-tbl">Nombre</div>
                    <div class="title-tbl">Fecha de Nac.</div>
                    <div class="title-tbl">Email</div>
                    <div class="title-tbl">Numero de Whatssap</div>
                    <div class="title-tbl">Comentarios</div>
                </div>
                <div class="body-tbl">
                    {% for row in medical %}
                    <div class="row">
                        <div class="cell">
                            {{row.name_full}}
                        </div>
                        <div class="cell">
                            {{row.date_of_birth}}
                        </div>
                        <div class="cell">
                            {{row.email}}
                        </div>
                        <div class="cell">
                            {{row.num_phone}}
                        </div>
                        <div class="cell">
                            {{row.comments}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="container-btn-download">
                    <a href="/admin/download-medical/">Descargar</a>
                </div>
            </div>

            <div id="tbl-life" class="tbl">
                <div id="titles-tbl">
                    <div class="title-tbl">Nombre</div>
                    <div class="title-tbl">Fecha de Nac.</div>
                    <div class="title-tbl">Email</div>
                    <div class="title-tbl">Numero de Whatssap</div>
                    <div class="title-tbl">Comentarios</div>
                </div>
                <div class="body-tbl">
                    {% for row in life %}
                    <div class="row">
                        <div class="cell">
                            {{row.name_full}}
                        </div>
                        <div class="cell">
                            {{row.date_of_birth}}
                        </div>
                        <div class="cell">
                            {{row.email}}
                        </div>
                        <div class="cell">
                            {{row.num_phone}}
                        </div>

                        <div class="cell">
                            {{row.comments}}
                        </div>


                    </div>
                    {% endfor %}
                </div>
                <div id="container-btn-download">
                    <a href="/admin/download-life/">Descargar</a>
                </div>
            </div>
            <div id="tbl-car" class="tbl">
                <div id="titles-tbl">
                    <div class="title-tbl">Nombre</div>
                    <div class="title-tbl">Fecha de Nac.</div>
                    <div class="title-tbl">Email</div>
                    <div class="title-tbl">Numero de Whatssap</div>
                    <div class="title-tbl">Comentarios</div>
                </div>
                <div class="body-tbl">
                    {% for row in car %}
                    <div class="row">
                        <div class="cell">
                            {{row.name_full}}
                        </div>
                        <div class="cell">
                            {{row.date_of_birth}}
                        </div>
                        <div class="cell">
                            {{row.email}}
                        </div>
                        <div class="cell">
                            {{row.num_phone}}
                        </div>
                        <div class="cell">
                            {{row.comments}}
                        </div>


                    </div>
                    {% endfor %}
                </div>
                <div id="container-btn-download">
                    <a href="/admin/download-car/">Descargar</a>
                </div>
            </div>

            <div id="tbl-house" class="tbl">
                <div id="titles-tbl">
                    <div class="title-tbl">Nombre</div>
                    <div class="title-tbl">Tipo de Contratante</div>
                    <div class="title-tbl">Email</div>
                    <div class="title-tbl">Numero de Whatssap</div>
                    <div class="title-tbl">Comentarios</div>
                </div>
                <div class="body-tbl">
                    {% for row in house %}
                    <div class="row">
                        <div class="cell">
                            {{row.name_full}}
                        </div>
                        <div class="cell">
                            {{row.contract_type}}
                        </div>
                        
                        <div class="cell">
                            {{row.email}}
                        </div>
                        <div class="cell">
                            {{row.num_phone}}
                        </div>
                        <div class="cell">
                            {{row.comments}}
                        </div>

                    </div>
                    {% endfor %}
                </div>
                <div id="container-btn-download">
                    <a href="/admin/download-house/">Descargar</a>
                </div>
            </div>
        </div>

    </div>


</div>
</div>
</div>
</div>

</div>

</div>
{% endblock %}