{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
    <title>
        Inicio
    </title>
</head>

<body>
    <header id="header">
        <img src="{% static 'images/header.jpg' %}" alt="Imagen de dos adultos mayores">
        <nav id="nav-bar">
            <ul>
                <li class="option-nav">
                    <a href="#home">Inicio</a>
                </li>
                <li class="option-nav">
                    <a href="">Contacto</a>
                </li>
    
                <li class="option-nav last-item">
                    <a href="">¿Quienes Somos?</a>
                </li>
            </ul>
        </nav>
    </header>


    <section>
        <div id="container-about-me">
           <!--  <div id="container-photo">
                <div id="photo">
                    <img src="{% static 'images/photo.png' %}" alt="logo" />
                </div>
            </div>

            <div id="container-description">


            </div> -->
        </div>

    </section>



    <div id="home">

    </div>

</body>


</html>